body {
  font-family: 'Inconsolata', monospace;
}

.home__content {
  width: 75%;
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.form__text {
  padding-top: .375rem;
  font-size: 4.5vw;
}

.form-text--entry {
  font-size: 2vw;
}

.form__text--date {
  text-align: center;
}

.form-row {
  margin-bottom: 20px;
}

.form__btn:disabled {
  color: white;
}